body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90deg,#440000, #b65308);
}
header {
    text-align: center;
    font-size: 30px;
    margin-top: 90px;
    color: #ff6700;
}
header img {
    width: 10%;
    height: 10%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.navbar {
    background-color: #440000;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.nav-list a:hover {
    background-color: #7a0000;
}

.footer {
    background-color: #440000;
    color: white;
    position: relative;
    bottom: auto;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.university-logo {
    width: 50px;
    height: 40px;
    margin-left: 15px
}
.footer p {
    text-align: center;
    font-size: 15px;
    margin: 0;
    flex-grow: 1;
}

.team-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    align-items: center; 
    width: 60%;
    height: a;
    margin: 40px auto 100px;
}

.team-member {
    display: flex; 
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%; 
    transition: transform 0.3s ease;
    padding: 15px;
    max-width: 1000px;
}
.team-member:hover {
    transform: translateY(-10px);
}
.team-member img {
    width: 40%; 
    height: 40%;
    object-fit: cover;
    margin-right: 20px; 
    border-radius: 5px;
}
.team-member-info {
    margin: 0px;
    display: flex;
    flex: 1;
    flex-direction: column; 
   
}
.team-member h3 {
    margin-top: 0;
    align-self: flex-start;
    font-size: 1.5rem;
    color: #ffffff;
}
.team-member p {
    margin: auto;
    text-align: justify;
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5;
   
}
.contact-icons {
    display: flex;
    gap: 0.5px; 
    margin-top: auto;
}

.contact-icons a img {
    background-color: #ffffff;
    border-radius: 30%;
    width: 40px; 
    height: 40px; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.contact-icons a img:hover {
    transform: scale(1.2); 
    opacity: 0.8;
}

.scroll-to-top {
    position: fixed; 
    bottom: 50px; 
    right: 20px; 
    background-color: #440000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.scroll-to-top:hover {
    background-color: #7a0000;
    transform: scale(1.1); 
}